* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    font-size: .34rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
}

header {
    width: 100%;
    height: 1.2rem;
    color: skyblue;
    text-align: center;
    line-height: 1.2rem;
    font-size: .5rem;
}